
$blue:    #005ba5;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #008e5c;
$teal:    #00a72b;
$cyan:    #00c5cd;
// Boostrap
@import "~bootstrap/scss/bootstrap";



//PrimeReact
@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
 